@import "tailwindcss";

@theme {
  --color-primary: #4e6bff;
  --color-secondary: #3b3b55;
  --color-background: #0d0d18;
  --color-surface: #1c1c2a;
  --color-input: #2a2a3b;
  --color-textColor: #e5e7eb;
  --color-textMuted: #9ca3af;
}

@layer utilities {
  .input {
    @apply w-full bg-input rounded-lg px-3 py-2.5 text-slate-200 placeholder-textMuted focus:outline-none;
  }

  .input-label {
    @apply block mb-1 text-sm font-medium text-textColor;
  }

  .btn {
    @apply bg-primary text-textColor font-semibold py-2 px-4 rounded-lg hover:bg-primary/95 cursor-pointer focus:outline-none;
  }

  .chat-bubble {
    @apply w-fit max-w-[75%] rounded-lg px-4 py-2 text-sm shadow-md;
  }

  .chat-bubble-sent {
    @apply relative ml-auto bg-primary text-white after:content-[''] after:absolute after:bottom-0 after:right-0 after:translate-y-[45%] after:border-[6px] after:border-transparent after:border-t-primary after:border-r-primary;
  }

  .chat-bubble-received {
    @apply relative mr-auto bg-secondary text-textColor after:content-[''] after:absolute after:bottom-0 after:left-0 after:translate-y-[45%] after:border-[6px] after:border-transparent after:border-t-secondary after:border-l-secondary;
  }
}
